@{
    ViewBag.Title = "Select Template";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/b38ccccf84.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/cv-form.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>CV Form | DelicateCV</title>
</head>
<body>
    <!-- Nav section -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand pl-5" asp-action="Index" asp-controller="Home">Delicate<span class="logo">CV</span></a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#indexnav"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="indexnav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!------------------------------------------------------------------------THis part is needed--->
    <div id="all>">
        <div class="welcome">Kindly Select A Template</div>
        <div class="select-image">
            <div class="first-temp">
                <a asp-action="FormOne" asp-controller="CvForm">
                    <img src="~/images/template1.jpg" alt="first template">
                </a>
            </div>
            <div class="second-temp">
                <a asp-action="FormThree" asp-controller="CvForm">
                    <img src="~/images/template3.jpg" alt="first template">
                </a>
            </div>
            <div class="third-temp">
                <a asp-action="FormTwo" asp-controller="CvForm">
                    <img src="~/images/template2.jpg" alt="first template">
                </a>
            </div>
        </div>
    </div>
<!------------------------------------------------Up to this part--------------------------------------------->
    <!-- footer -->
    <section class="footer">
        <div class="container footer-main text-muted">
            <div class="row">
                <div class="col footer_content">
                    <p style="border-bottom: 1px solid white;"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm footer_list">
                    <ul>
                        <li>Delicate<span class="logo">CV</span></li>
                        @* <li><a href="#">Categories</a></li> *@
                        <li><a asp-action="Index" asp-controller="TemplateSelection">CV Templates</a></li>
                        @* <li><a href="#">Developers</a></li> *@
                    </ul>
                </div>
                <div class="col-sm footer_list">
                    <ul>
                        <li>About</li>
                        <li><a asp-action="Index" asp-controller="Home">How it works</a></li>
                        @* <li><a href="#">Security</a></li> *@
                        @* <li><a href="#">Terms of service</a></li> *@
                        @* <li><a href="#">Privacy policy</a></li> *@
                        @* <li><a href="#">News</a></li> *@
                        @* <li><a href="#">Fees and charges</a></li> *@
                    </ul>
                </div>
                <div class="col-sm footer_list">
                    <ul>
                        <li>Browse</li>
                        @* <li><a href="#">Jobs in Nigeria</a></li> *@
                        <li><a href="https://jobberman.com">Find jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    @* <span>Follow us</span> *@
                    @* <i class="fab fa-facebook"></i> *@
                    @* <i class="fab fa-twitter mx-3"></i> *@
                    @* <i class="fab fa-instagram"></i> *@
                    @* <i class="fab fa-linkedin-in mx-3"></i> *@
                    @* <p style="border-top: 1px solid white;"></p> *@
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <script src="~/js/signin.js"></script>
    </section>
</body>
</html>