/* base-styles */
/* html {
  font-size: 62.5%;
} */

p {
  font-size: 1.1rem;
}
/* navbar-styling */
.navbar,
.navbar-brand {
  font-size: 1.2rem;
}

.navbar {
  padding-right: 1.5rem;
}

.logo {
  color: rgb(36, 209, 111);
}
/* top-section styling */
.top-section {
  margin-bottom: 9rem;
}

.top-section .h1 {
  font-size: 2.4rem;
}

.landing-intro-left {
  background-color: #eee;
}
/* .top-mid-section styling */
.resume-img {
  margin-top: -5rem;
}

.top-mid-section,
.bottom-mid-section {
  margin: 8rem 0;
  padding-bottom: 3rem;
  border-bottom: 1px solid #aaa;
}

.top-mid-section .h3,
.bottom-mid-section .h3 {
  font-size: 1.8rem;
}

.middle-mid-section {
  background-color: #333;
  color: #eee;
  padding: 4rem;
}

.middle-mid-section .h4 {
  font-size: 1.5rem;
}
/* cta-section image styling */
.desc-img {
  height: 4rem;
  margin-bottom: 1rem;
}
/* footer-section styling */
.footer {
  background-color: #333;
  padding: 3rem;
  color: #eee;
}

.footer ul {
  list-style: none;
}

.footer li a {
  color: #fff;
}

.footer li,
.footer span {
  font-size: 1rem;
}

.footer i {
  font-size: 1.4rem;
}

.footer span {
  margin-right: 3rem;
}

@media screen and (max-width: 45rem) {
  html {
    font-size: 50%;
  }
  p {
    font-size: 1.4rem;
  }
  /* navbar-mobile-styles */
  .navbar {
    padding: 1rem 1.5rem 1rem 0;
  }

  .navbar ul li {
    padding-left: 3rem;
  }

  /* top-section-mobile-styles */
  .top-section {
    margin-bottom: 6rem;
  }
  .top-section .row {
    display: flex;
    flex-direction: column-reverse;
    background-color: #eee;
    padding-bottom: 3rem;
  }
  .landing-intro-left {
    margin-top: 4rem;
  }

  .landing-intro-left .h1 {
    font-size: 2.5rem;
  }
  /* mid-section-mobile-styles */
  .top-mid-section {
    margin-top: 4rem;
  }
  .top-mid-section .row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .top-mid-section .col-md-6 {
    margin-left: 0;
  }

  .top-mid-section .row div:last-child {
    text-align: center;
  }

  .middle-mid-section [class^="col-"]:not(:last-child) {
    margin-bottom: 3rem;
  }

  .bottom-mid-section__img-container {
    text-align: center;
  }

  .bottom-mid-section .container div:last-child {
    margin-left: 0;
  }
  .resume-img {
    margin: 0 0 2rem 0;
    height: 15rem;
  }
}
