*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Added this block */ 
html {
    /* 1rem === 16px (default) */
  font-size: 100%;
}

body {
  font-family: calbri;
  line-height: 1.5;
  font-size: 1.3rem; /* Added this line */
  /*background: #f2f2f2;*/
  color: #323232;
}

.container {
  /*max-width: 960px;
  margin: 90px auto;*/
  /*padding: 32px;*/ /* changed this line in the media query.*/
  background: white;
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);*/
}
.container .out {
  background: rgba(94, 94, 241, 0.884);
  color: white;
  padding: 0 30px;
  padding-top: 2px;
  padding-bottom: 10px;
}

section .head {
  text-align: center;
  margin-top: 50px;
}
.seco {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding: 2rem 1rem;
  border-bottom: 1px solid rgb(167, 162, 162);
}
section .info {
  width: 75%;
  text-align: left;
}
.interest {
  margin-top: 30px;
  margin-bottom: 30px;
}

.seco:last-child {
  border-top: 1px solid rgb(167, 162, 162);
  border-bottom: none;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
  width: 15%;
}

.my-name {
  font-size: 3.5rem;
  line-height: 1;
  text-transform: uppercase;
}

.my-title {
  font-size: 24px;
  font-weight: 300;
}

.job {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 2px solid lightgray;
}

.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.job-company {
  font-weight: bold;
}

.skill-container {
  /* display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 20px; */
  margin-bottom: 24px;
}
.list {
  width: 75%;
}
.skill-container ul {
  margin: 0;
  padding: 0;
  list-style: disc;
  list-style-position: inside;
}

.interest-container {
  text-align: justify;
  float: right;
  margin-right: 600px;
}

.reference {
  font-size: 18px;
  text-align: justify;
}
.ref {
  width: 75%;
}

.reference-details {
  margin-bottom: 1.7rem;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {

  /* Reduce all font sizes in one line => 1rem === 13px */
  html {
    font-size: 81.25%;
  }

  .container {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
  }

  .seco {
    display: flex;
    flex-direction: column;
  }

  .section-title {
    font-size: 2rem;
  }

  .my-name {
    font-size: 2.4rem;
  }

  .interest-container {
    text-align: justify;
    float: left; 
    margin-right: 0; 
  }

   
  .ref, .list , section .info {
      width: 100%; 
  }
}
